@use "../../styles/variables" as v;




footer{
    position: absolute;
    bottom: 0;
    background-color:rgb(108, 6, 6);
    color: v.$color4;
    height: auto;
    width: 100vw;

}


.konteyners{
    background-color: rgb(108, 6, 6) ;
    width: 100vw;
    margin-top: 2rem;
    bottom: 0;
    height: 8rem;




}



.logos{
    width: 17rem;
    position: absolute;
    margin-left: 2rem;
    

    @media (max-width: 767px) {
        margin-left: 8rem;  
        width: 14rem;  
        bottom: 3rem;

    }
}

.haks{
    position: absolute;
    right: 0;
    margin-right: 8rem;
    margin-top: 2.5rem;




    @media (max-width: 767px) {
        bottom: 0;
        margin-bottom: 0.2rem;
        margin-right: 5rem;
                        
        
    


    }

    


}

